*{
	box-sizing: border-box; 
}
body {
	font-family: Arial;
	padding: 10px;
	
	background-image: url(blue.jpg);
}

.header {
	padding: 30px; 
	text-align: center; 
	color: white;
}
.header h1 {
	font-size: 50px;
}
.topnav { 
	overflow: hidden;
	background-color: #4682B4; 
}

.topnav a {
	float: left;
	display: block; 
	color: #f2f2f2; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd; //abu abu silver
	color: black;
}


.card{
	background-color: #4682B4; 
	padding: 20px;
	margin-top: 20px;
	color: white;
}


/* Bersihkan sisa float */
.row:after{
	content: ""; 
	display: table;
	clear: both;
}


@media screen and (max-width: 800px) {

.artikel, .aboutme, .tanggal{
	width: 100%;
	padding: 0;
}

@media screen and (max-width: 400px) {
.topnav a {
float: none; width: 100%;

}
}